<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetTracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">PetHealth</a></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/about">About</a></li>
        </ul>        
    </nav>
    <div class="main-container">
        <div class="btn-container">
            <a href="/add-form" class="btn">Add Pet</a><br>
            {{#addpet}}
                <form action="/add-pet" method="post" enctype="multipart/form-data">
                <label for="name">Name</label><br>
                <input type="text" name="name" placeholder="Spot..">
                <br>
                <label for="breed">Breed</label><br>
                <input type="text" name="breed" placeholder="Lab..">
                <br>
                <label for="species">Species</label><br>
                <input type="text" name="species" placeholder="Dog..">
                <br>
                <label for="birth-date">Birth Date</label><br>
                <input type="text" name="birth_date" placeholder="YYYY/MM/DD">
                <br>
                <label for="photo">Photo</label><br>
                <input type="file" name="photo">
                <br><br>
                <button type="submit">Add</button><br>
            </form>
            {{/addpet}}

            <a href="/delete-form" class="btn">Delete Pet</a><br>
            {{#deletepet}}
                <form action="delete-pet" method="post">
                    <label for="id">Enter Pet ID</label><br>
                    <input type="text" name="id">
                    <br><br>
                    <button type="submit">Delete</button>
                </form>
            {{/deletepet}}
        </div>   
        <div class="card-container">
            {{#pets}}
                <div class="card">
                    {{#photo}}
                    <img src="/{{photo}}" alt="{{name}}">
                    {{/photo}}
                    <h4>{{name}}</h4>
                    <p>{{species}}</p>
                    <p>{{breed}}</p>
                    <p>{{birth_date}}</p>
                    <a href="/record-page/{{pet_id}}" class="btn">View Records</a>
                </div>
            {{/pets}}
        </div>
    </div>
</body>
</html>