<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetTracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">PetHealth</a></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/About">Profile</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>        
    </nav>
    <a href="/add-form" class="btn">Add Pet</a><br>
    {{#addpet}}
        <form action="/add-pet" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <label for="breed">Breed</label>
        <input type="text" name="breed">
        <br>
        <label for="species">Species</label>
        <input type="text" name="species">
        <br>
        <label for="birth-date">Birth Date</label>
        <input type="text" name="birth_date">
        <br>
        <button type="submit">Add</button><br>
    </form>
    {{/addpet}}

    <a href="/delete-form" class="btn">Delete Pet</a>
    {{#deletepet}}
        <form action="delete-pet" method="post">
            <label for="id">Enter Pet ID to delete</label>
            <input type="text" name="id">
            <button type="submit">Delete</button>
        </form>
    {{/deletepet}}
    
    {{#pets}}
    <div class="card">
        <div class="container">
            <h4>{{name}}</h4>
            <p>{{species}}</p>
            <p>{{breed}}</p>
            <p>{{birth_date}}</p>
            <a href="/record-page" class="btn">Add Record</a>
        </div>
    </div>
    {{/pets}}
</body>
</html>