<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetTracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">PetHealth</a></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/About">Profile</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>        
    </nav>
    <a href="/addform" class="btn">Add Pet</a><br>
    {{#addpet}}
        <form action="/add-pet" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <label for="breed">Breed</label>
        <input type="text" name="breed">
        <br>
        <label for="species">Species</label>
        <input type="text" name="species">
        <br>
        <label for="birth-date">Birth Date</label>
        <input type="text" name="birth_date">
        <br>
        <button type="submit">Add</button><br>
    </form>
    {{/addpet}}

    <a href="/deleteform" class="btn">Delete Pet</a>
    {{#deletepet}}
        <form action="delete-pet" method="post">
            <label for="id">Enter Pet ID to delete</label>
            <input type="text" name="id">
            <button type="submit">Delete</button>
        </form>
    {{/deletepet}}

    
     <table>
        <tr>
            <th>Pet ID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>birth_date</th>
        </tr>
            {{#pets}}
        <tr>
            <td>{{pet_id}}</td>
            <td>{{name}}</td>
            <td>{{species}}</td>
            <td>{{breed}}</td>
            <td>{{birth_date}}</td>
        </tr>
            {{/pets}}    
    </table>
        <table>
        <tr>
            <th>ID</th>
            <th>Pet ID</th>
            <th>Visit Date</th>
            <th>Visit Type</th>
            <th>Weight</th>
            <th>Cost</th>
            <th>Notes</th>
        </tr>
            {{#records}}
        <tr>
            <td>{{id}}</td>
            <td>{{pet_id}}</td>
            <td>{{visit_date}}</td>
            <td>{{visit_type}}</td>
            <td>{{weight}}</td>
            <td>{{cost}}</td>
            <td>{{notes}}</td>
        </tr>
            {{/records}}    
    </table>
</body>
</html>