ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    border-radius:10px
}


ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

ul li a:hover {
    background-color: #111111;
}

body {
    background-image: linear-gradient(to bottom right, rgb(216, 245, 224), rgb(166, 166, 166));
    min-height: 100vh;
}
nav {
    border-radius: 4px;
 }

.btn {
    background-color: #333333;
    color: white;
    padding: 10px 1rem;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top:20px;
    width: 75px;
    text-align: center;
}

.btn:hover {
    background-color: #111111;
}

form {
margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 5px;
    max-width: 8rem;
    margin-top:20px;
    max-height: fit-content;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-container {
    display: flex;
    flex-wrap: warp;
    gap: 20px;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  border-radius: 5px;

  margin-top: 20px;
}

td {
    padding: 10px;
    height: 20px;
    border: 1px solid;
    text-align: center;
    vertical-align: bottom;
}

th {
    padding: 10px;
    border: 1px solid;
    height: 10px;
}
.table-container {
    display: flex;
    flex-wrap: wrap;
}